.article-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
  margin-right: 5px;
}

.media-body{
  padding: 20px;
  background-color: white;
  border-radius: 1rem;
}

.comments-block{
  width: 400px;
  min-width: 400px;
  padding: 5px;
  background-color:rgb(211,211,211);
  border-radius: 0rem 1rem 1rem 0rem;
  max-height:905px;
  overflow: auto;  
}

.comments-block::-webkit-scrollbar {
  width: 15px;
}

.comments-block::-webkit-scrollbar-track {
  width: 15px;
  margin: 5px;
  background-color: white;
  box-shadow: inset 0 0 5px rgb(103, 103, 103);
  border-radius: 1rem;
}

.comments-block::-webkit-scrollbar-thumb {
  background-color:darkcyan;
  border-radius: 1rem;
}

.comments-block::-webkit-scrollbar-thumb:hover {
    background-color:rgb(0, 100, 100);
}

.btn-secondary{
  margin-top: 5px;
  border-radius: 0.5rem;
  width: 100%;
}

.comment-data{
  background: var(--background);
  border-radius: 0.5rem;
  padding: 5px 5px 0px 5px;
}

.content-section{
  display: flex;
  justify-content: center;
  margin: 50px 70px;
  border-radius: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(139, 139, 139);
}

.comment-hr{
  margin: auto;
  margin-top: 5px;
}

.comment-content{
  padding: 5px 0px 0px 5px;
}

.menu-nav {
  place-self: end;
}

.menu-item {
  color: #FCC;
  padding: 3px;
}

.three-dots {
}

.three-dots:after {
  cursor: pointer;
  color: #444;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

.dropdown-link {
  text-decoration: none;
  color: white;
}

.dropdown-link div {
  padding: 2px;
}

.dropdown {
  margin-left: 5px;
  display: flex;
  float: left;
  position: absolute;
  flex-direction: column;
  outline: none;
  z-index: -1;
  opacity: 0;
  max-height: 0;
  transition: z-index 0.3s, opacity 0.3s, max-height 5s;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: z-index 0.2s, opacity 0.2s, max-height 0.2s;
}

.post-header {
  display: grid;
  grid-template-columns: auto auto;
}

.file-and-comments {
  display: grid;
  grid-template-columns: auto auto;
}
