{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block styles %}
{% endblock styles %}
{% block content %}

<h1>Edit Profile </h1>
<br/><br/>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ user_form|crispy }}
      {{ profile_form|crispy }}
  </fieldset>
  <div class="form-group">
      <br/>
      <button class="btn btn-outline-info" type="submit">Update</button>
  </div>
</form>
</div>
{% endblock content %}

