.logo-image{
    width: 400px;
}

h1{
    font-size: 40px;
}

header{
    background-color: #97ccb9;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}

body{
    background-color: #eff7fa;
}

.list{
    padding-left: 2%;
}

.ResuMe{
    color: black;
    font-family: logoFont;
}

@font-face {
    font-family: logoFont;
    src: url(SCRIPTBL.TTF);
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.HorizontalBar{
    float: left; 
    border-right: 1px solid #bbb;
}
.HorizontalBar:last-child{
    border-right: none;
}
  
.HorizontalBar a {
    display: block;
    width: 150px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.HorizontalBar a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color:#628679fd;
}

LI{
    font-size: 30px;
}

