{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/feed.css' %}">
{% endblock styles %}
{% block content %}
    {% for post in posts %}
        <article class="content-section">

          <div class="media-body">
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ post.author.profile.profile_pic.url }}">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <p class="article-content">{{ post.description }}</p>
              {% if post.resume %}
                <iframe src="{{ post.resume.resume_file.url }}" style="width: 560px;height: 780px ;border: none;"></iframe>
              {% endif %}
          </div>

          <div class="comments-block">
            <div class="buttons">   
              <a href="{% url 'comment-create' post.pk %}"><button type="button" class="btn btn-secondary">Add comment</button></a>
              <hr>
            </div>
            {% for comment in post.comment_set.all %}
              <div class="comment-data">
                <img class="rounded-circle article-img" src="{{ comment.author.profile.profile_pic.url }}">
                <a class="mr-2" href="#">{{ comment.author }}</a>
                <hr class="comment-hr">
                <p class="comment-content">{{ comment.comment_text }}</p>
              </div>
            {% endfor %}
          </div>
          
        </article>
    {% endfor %}
{% endblock content %}
