{% extends "base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/feed.css' %}">
{% endblock styles %}
{% block content %}
    <article class="content-section">
            <div class="media-body">
                <div class="post-header">
                    <div class="article-metadata">
                        <img class="rounded-circle article-img" src="{{ post.author.profile.profile_pic.url }}">
                        <a class="mr-2" href="/users/{{ post.author.username }}/">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div class="menu-nav">
                        <div class="dropdown-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown">
                                <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-secondary btn-light btn-sm" ><div>Go to post</div></a>
                                {% if post.author == user %}
                                    {% if post.resume %}
                                        <a href="{% url 'resume-update' post.pk %}" class="btn btn-outline-secondary btn-light btn-sm"><div>Edit post</div></a>
                                    {% endif %}
                                    <a href="{% url 'post-delete' post.pk %}" class="btn btn-outline-danger btn-light btn-sm" ><div>Delete post</div></a>
                                {% endif %}
                            </div>
                         </div>
                     </div>
                </div>
                <p class="article-content">{{ post.description }}</p>
                <div class="file-and-comments">
                    {% if post.resume %}
                        <iframe src="{{ post.resume.resume_file.url }}" style="width: 560px;height: 780px ;border: none;"></iframe>
                    {% endif %}
                    <div class="comments-block">
                        <div class="buttons">
                            {% if post.resume %}
                            {% include 'posts/rating_view.html' %}    
                                {% if post.author != user %}
                                <div>
                                    <a href="{% url 'create-a-rate' post.pk %}"><button type="button" class="btn btn-secondary">Rate ResuMe</button></a>
                                    <hr>
                                </div>
                                {% endif %}
                            {% endif %}
                          <a href="{% url 'comment-create' post.pk %}"><button type="button" class="btn btn-secondary">Add comment</button></a>
                          <hr>
                        </div>
                            {% for comment in post.comment_set.all %}
                              <div class="comment-data">
                                <img class="rounded-circle article-img" src="{{ comment.author.profile.profile_pic.url }}">
                                <a class="mr-2" href="/users/{{ comment.author.username }}/">{{ comment.author }}</a>
                                <hr class="comment-hr">
                                <p class="comment-content">{{ comment.comment_text }}</p>
                              </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </article>
{% endblock content %}
