{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/forms.css' %}">
{% endblock styles %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom text-center mx-auto">Add Rating</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add Rating</button>
            </div>
        </form>
    </div>
{% endblock content %}
